@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700');


body{
    background: #ddd;
}

*{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}
.light{
    font-weight: 400;
}
.regular{
    font-weight: 600;
}
.bold{
    font-weight: 700;
}

.page_container{
    padding: 2em;
}
.container_white{
    background: #fff;
    padding: 2em 5em;
}

.title{
    margin-bottom: 40px;
}

.btn-register,
.btn-register:focus,
.btn-register:hover,
.btn-register:active{
    border-radius: 30px;
    background: #13D2FF;
    background-color: #13D2FF !important;
    outline: none;
    box-shadow: none;
    border: 0;
    padding: 10px 30px;
}
input.form-control{
    background: #FBFBFB;
    background-color: #FBFBFB;
    outline: none;
    border-color: #F2F2F2;
    box-shadow: none;
}
input.form-control:focus{
    outline: none;
    box-shadow: none;
    border-color: #F2F2F2;
}