/* header */
header.header{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
    background: #14363B;

    padding-top: 15px;
    padding-bottom: 15px;
}
header.header .logo{
    flex: 1;
}
header.header .menu{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
header.header .menu .sign-in{
    margin-right: 10px;
    color: #fff;
    padding: 5px 35px;
    border-radius: 35px;
    border: 1px solid #fff;
}
header.header .menu-icon{
    width: 35px;
    height: 35px;
    position: relative;
    display: block;    
    z-index: 2;
}
header.header .menu ul{
    position: fixed;
    right: 0;
    top: 0;
    width: 15%;
    height: 100%;
    background: #0B1C1E;
    padding-top: 5em;
    opacity: 0;
    visibility: hidden;
}
header.header .menu ul.show{
    opacity: 1;
    visibility: visible;
}
header.header .menu ul li {
    margin: 24px 0 20px 0;
}
header.header .menu ul li a{    
    position: relative;
    padding: 5px 0 5px 2em;
    font-size: 1.5em;
    color: #6C7778;    
}
header.header .menu ul li{
    list-style-type: none;
}
header.header .menu ul li a.active{
    color: #14D2FF;
    font-weight: bold;
}
header.header .menu ul li a.active:before{
    content: ' ';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 3px;
    background: #14D2FF;
}

/* section 1 */
.section-1{
    height: 100vh;
    background: url('../../assets/img/unnamed.png') no-repeat center;
    background-size: cover;    
}
.section-1 * {
    text-align: center;
}
.section-1 h1.title{
    color: #fff;
    padding-top: 20px;
}
.section-1 img.hand{
    max-width: 30%;
    position: absolute;
    left: 45%;
    transform: translate(-45%);
}